<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="ConnectionStringMain" connectionString="Server=chongming.xuelangyun.com;Database=cv_agri;Uid=cmnw;Pwd=#19as2SWlkbdt0ew57!; "/>-->
    <add name="ConnectionStringMain" connectionString="Server=192.168.1.225;Database=cv_agri;Uid=root;Pwd=frontfree;"/>
  </connectionStrings>
</configuration>